/* #first-heading {
    color: red;
    font-size: 50px;
}

.second-heading {
    color: blue;
    font-size: 30px;
} */

/* * {
    color: blue;
} */

/* h2 {
    color:powderblue;
} */

/* div.box {
    color: violet;
} */

/* h2.box2 {
    color: red;
} */

/* .box, .box2 {
    color:aqua;
} */

/* div h2 {
    color:blueviolet
} */

/* div > h2 {
    color:aqua;
} */

/* .title + .title {
    color: green;
} */

/* :root {
    --text-color: green;
}

h1 {
    color: var(--text-color);
}
h2 {
    --local-text: red;
    color: var(--local-text);
}
h3 {
    color: var(--local-text);
} */

/* .box {
    width: 50%;
    height: 100px;
    background-color: powderblue;
} */

/* html {
    font-size: 40px;
}

h1 {
    font-size: 1em;
} */