/* #first-heading {
    color: red;
    font-size: 50px;
}

.second-heading {
    color: blue;
    font-size: 30px;
} */

/* * {
    color: blue;
} */

/* h2 {
    color:powderblue;
} */

/* div.box {
    color: violet;
} */

/* h2.box2 {
    color: red;
} */

/* .box, .box2 {
    color:aqua;
} */

/* div h2 {
    color:blueviolet
} */

/* div > h2 {
    color:aqua;
} */

/* .title + .title {
    color: green;
} */

/* :root {
    --text-color: green;
}

h1 {
    color: var(--text-color);
}
h2 {
    --local-text: red;
    color: var(--local-text);
}
h3 {
    color: var(--local-text);
} */

/* .box {
    width: 50%;
    height: 100px;
    background-color: powderblue;
} */

/* html {
    font-size: 40px;
}

h1 {
    font-size: 1em;
} */

/* .box {
    width: 100%;
    height: 120px;
    background: rgb(0, 0, 0);
} */

/* .box {
    width: calc(100% - 50px);
    height: 120px;
    background: rgb(0, 0, 0);
}

a::after {
    content: " (" attr(href) ")"
} */

/* h1:hover {
    color: green;
} */

/* .box {
    width: 100%;
    height: 200px;
    background: black;
} */
/* .box:hover {
    background: red;
} */
/* .box:active {
    background: green;
} */

/* li:first-child {
    color: violet;
    font-size: 70px;
}
li:last-child {
    color: blue;
    font-size: 30px;
} */

/* .box {
    width: 100%;
    height: 120px;
    background: pink;
}

.box::before {
    content: "Hello";
    color: white;
    display: block;
    width: 50px;
    height: 50px;
    background: red;
}

.box::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: green;
} */

/* h1::first-letter {
    font-size: 50px;
    color: red;
}
 h1::first-line {
    color: green;
 } */

/* h1::selection {
    background: violet;
    color: white;
} */